<div class="row social-btns">
  <div class="col-3">
    <a
      href="https://github.com/billdami"
      class="social-btn github"
      title="github"
    >
      <i class="fa fa-github"></i>
    </a>
  </div>
  <div class="col-3">
    <a
      href="http://www.linkedin.com/in/billdami"
      class="social-btn linkedin"
      title="linkedin"
    >
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
  <div class="col-3">
    <a
      href="http://stackoverflow.com/users/192694/bill-dami"
      class="social-btn stackoverflow"
      title="stackoverflow"
    >
      <i class="fa fa-stack-overflow"></i>
    </a>
  </div>
  <div class="col-3">
    <a
      href="https://twitter.com/billdami"
      class="social-btn twitter"
      title="twitter"
    >
      <i class="fa fa-twitter"></i>
    </a>
  </div>
</div>
